.app-background {
  background-image: linear-gradient(#8693ab, #bdd4e7);
  width: 500px;
  min-height: 165px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  border-radius: 0 9px 0 9px;
}
.portal-name {
  margin-bottom: 6px;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}
